<div class="p-3">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title mt-3 fw-bold fs-4 text-dark ">クイズ一覧</h5>
            <div class="my-5">
                <% @quizzes.each do |quiz| %>
                    <ul class="list-group">
                        <li class="list-group-item mb-3  border-3 border-dark">
                          <%= link_to quiz.title, user_quiz_path(current_user, quiz), class: 'fw-bold fs-4 text-dark text-decoration-none' %>
                        <%= link_to user_quiz_comments_path(current_user, quiz), 
                          class: 'float-end',
                          aria: { label: "コメントを見る" } do %>
                          <i class="fa-regular fa-comment-dots fs-3 comment-dot-icon-color"></i>
                        <% end %>
                        </li>
                    </ul>
                <% end %>
            </div>
        </div>
    </div>
</div>
