<div class="p-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mt-3">クイズ一覧</h5>
            <div class="my-5">
                <% @quizzes.each do |quiz| %>
                    <ul class="list-group">
                        <li class="list-group-item mb-3">
                          <%= link_to quiz.title, user_quiz_path(current_user, quiz) %>
                          <%= link_to "💬", quiz_comments_path(quiz), class: 'btn btn-primary' %>
                        </li>
                    </ul>
                <% end %>
            </div>
        </div>
    </div>
</div>
