<div class="p-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @quizzes.each do |quiz| %>
            <div class="col">
                <div class="card px-3 card-base-color">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"><%= quiz.title %></h5>
                        <div class="d-flex justify-content-between">
                            <div>
                                <%= link_to quiz_path(quiz) do %>
                                    <button type="button" class="btn btn-light">挑戦する</button>
                                <% end %>
                            </div>
                            <div>
                                <div>💗 <%= quiz.likes.count %></div>
                                <div>💭 <%= quiz.comments.count %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>