<div class="p-3">
  <div class="card border-gray-background rounded shadow-sm" style="width: 90%; margin: 0 auto;">
    <div class="card-body">
      <h5 class="card-title mt-3 fw-semibold text-white mb-4 fs-2" style="text-align: left; width: 75%; margin: 0 auto;">回答履歴</h5>
      <div class="d-grid gap-2">
        <% @solved_quizzes.each do |solved_quiz| %>
          <div class="d-flex justify-content-between align-items-center p-3 rounded mb-2 border" style="background-color: #3d464f; color: white; border: 2px solid black; font-size: 1.5em; width: 75%; margin: 0 auto;">
            <div style="width: 45%;"><%= solved_quiz.quiz.title %></div>
            <div style="width: 45%;"><%= solved_quiz.created_at.strftime('%Y/%m/%d %H:%M') %></div>
            <div style="width: 10%;">
              <% if solved_quiz.quiz_option.correct %>
                <span class="badge bg-success">正解</span>
              <% else %>
                <span class="badge bg-danger">不正解</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

