<header>
  <div class="header">
    <%= link_to 'BUZZAR', root_path, class: 'logo' %>
    <nav>
      <% if current_user %>
        <%= link_to 'クイズを投稿', new_user_quiz_path(current_user), class: 'nav-link' %>
        <%= link_to '作成済みクイズを閲覧', user_quizzes_path(current_user), class: 'nav-link' %>
        <%= link_to '回答履歴', user_solved_quizzes_path(current_user) %>
      <% end %>
      <% if !current_user %>
        <button class=nav-link>ログイン</button>
        <button class=nav-link>登録</button>
      <% end %>
    </nav>
  </div>
</header>
